@import "global";

#header{
  backdrop-filter: blur(5px);
  background: rgba(0, 0, 0, 0.74);
  padding: 30px 0;
  .navbar{
    @include align();
    &--logo{
      display: flex;
      align-items: center;
      &__info{
        p{
          font-weight: 400;
          font-size: 8px;
          color: #FFFFFF;
          line-height: 10px;
        }
      }
    }
    &--nav{
      a{
        font-weight: 500;
        font-size: 14px;
        padding: 0 30px;
        color: #9099A3;
        transition: .4s;
        &:hover{
          color: #FFFFFF;
        }
      }
    }
  }
}

#courses{
  background: #1E2023;
  padding: 50px 0;
  .courses{
    &--title{
      h1{
        font-weight: 700;
        font-size: 36px;
        color: #FFFFFF;
      }
    }
    &--block{
      padding: 20px 0;
      .swiper {
        width: 100%;
        height: 100%;
      }

      .swiper-slide {
        border-radius: 20px;
        font-size: 18px;
        background: #fff;
        display: flex;
        justify-content: space-around;
        align-items: center;
      }

      &__swiper{
        width: 50%;
        height: 90%;
        div{
          display: flex;
          align-items: center;
          a{
            font-weight: 400;
            font-size: 12px;
            color: #9099A3;
            padding: 0 10px;
          }
        }
        h1{
          font-weight: 700;
          font-size: 20px;
          color: #2C3E50;
          padding-top: 20px;
        }

        p{
          font-weight: 400;
          font-size: 16px;
          color: #2C3E50;
          padding-top: 10px;
        }

        button{
          @include btn();
          margin-top: 60px;
        }
      }


    }
  }
}

#webinars{
  background: #1E2023;
  padding: 50px 0;
  .webinars{
    &--title{
      font-weight: 700;
      font-size: 36px;
      color: #FFFFFF;
    }
    &--btn{
      display: flex;
      padding: 10px 0;
      button{
        margin: 0 10px;
      }
      &__button{
        padding: 10px 20px;
        font-weight: 500;
        font-size: 18px;
        color: #2C3E50;
        transition: .4s;
        border-radius: 10px;
        border: none;
        &:hover{
          background: transparent;
          border: 1px solid wheat;
          transform: scale(1.1);
          color: wheat;
        }
      }

      &__button1{
        @include btn();
      }
    }
      &--block{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
          &__var{
            width: 48%;
            height: 300px;
            background: #FFFFFF;
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin:20px 0;
            border-radius: 20px;
            &--group{
              div{
                a{
                  font-weight: 400;
                  font-size: 12px;
                  padding: 0 10px;
                  color: #9099A3;
                }
              }

              h1{
                font-weight: 700;
                font-size: 20px;
                color: #2C3E50;
                padding-top: 20px;
              }

              p{
                font-weight: 400;
                font-size: 16px;
                color: #2C3E50;
                padding-top: 10px;
              }

              button{
                @include btn();
                margin-top: 60px;
              }
            }
          }
      }
  }
}

#choice{
  background: #1E2023;
  padding: 20px 0;
  .choice{
    display: flex;
    justify-content: space-around;
    &--block{
      h1{
        font-weight: 700;
        font-size: 36px;
        color: #FFFFFF;
      }

      p{
        font-weight: 400;
        font-size: 18px;
        color: #9099A3;
      }
    }
    &--group{
      width: 60%;
      &__input{
        margin-bottom: 20px;
        p{
          font-weight: 400;
          font-size: 14px;
          line-height: 17px;
          color: #9099A3;
        }
        input{
          width: 100%;
          background: rgba(255, 255, 255, 0.2);
          border-radius: 15px;
          font-weight: 400;
          font-size: 16px;
          color: rgba(255, 255, 255, 0.5);
          padding-left: 20px;
          height: 60px;
        }
      }

      &__send{
        width: 100%;
        @include align();
        p{
          font-weight: 400;
          font-size: 16px;
          color: #FFFFFF;
        }

        button{
          padding: 15px 60px;
          background: red;
          display: flex;
          align-items: center;
          font-weight: 900;
          font-size: 14px;
          color: #FFFFFF;
          border: none;
          border-radius: 10px;
          transition: .4s;
          cursor: pointer;
          &:hover{
            background: transparent;
            border: 1px solid red;
            color: red;
          }
        }
      }
    }
  }
}