@import "global";

#header{
  backdrop-filter: blur(5px);
  background: rgba(0, 0, 0, 0.74);
  padding: 30px 0;
  .navbar{
    @include align();
    &--logo{
      display: flex;
      align-items: center;
      &__info{
        p{
          font-weight: 400;
          font-size: 8px;
          color: #FFFFFF;
          line-height: 10px;
        }
      }
    }
    &--nav{
      a{
        font-weight: 500;
        font-size: 14px;
        padding: 0 30px;
        color: #9099A3;
        transition: .4s;
        &:hover{
          color: #FFFFFF;
        }
      }
    }
  }
}

#courses{
  background: #1E2023;
  padding: 50px 0;
  .courses{
    &--title{
      h1{
        font-weight: 700;
        font-size: 36px;
        color: #FFFFFF;
      }
    }
    &--block{
      padding: 20px 0;
      .swiper {
        width: 100%;
        height: 100%;
      }

      .swiper-slide {
        border-radius: 20px;
        font-size: 18px;
        background: #fff;
        display: flex;
        justify-content: space-around;
        align-items: center;
      }

      &__swiper{
        width: 50%;
        height: 90%;
        div{
          display: flex;
          align-items: center;
          a{
            font-weight: 400;
            font-size: 12px;
            color: #9099A3;
            padding: 0 10px;
          }
        }
        h1{
          font-weight: 700;
          font-size: 20px;
          color: #2C3E50;
          padding-top: 20px;
        }

        p{
          font-weight: 400;
          font-size: 16px;
          color: #2C3E50;
          padding-top: 10px;
        }

        button{
          @include btn();
          margin-top: 60px;
        }
      }


    }
  }
}